@import url('https://fonts.cdnfonts.com/css/expletus-sans-2');
@import url('https://fonts.cdnfonts.com/css/grow-west');
@import url('https://fonts.cdnfonts.com/css/Vibrant-Display');

.carousel-bg {
  margin: 40px 20px;
 
  background-color: transparent;
  border-radius: 30px;
    height: 90vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    /* animation: zoomInOnce 10s ease-in-out infinite; */
  }
  

  
  .overlay {
    border-radius: 30px;
    background-color: rgba(0, 0, 0, 0.208); 
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .hero-title {
    font-size: 3rem;
    font-weight: bold;
    font-family:'Vibrant-Display', sans-serif;
  }  
  .hero-subtitle {
    font-size: 1.5rem;
    margin-top: 1rem;
    color: #f1f1f1;
    font-style: italic;
    font-family: 'Expletus Sans','Bebas Neue', sans-serif;
  }
  @media (max-width: 970px) {
    .hero-title {

      margin-top: -10vh;
      font-size: 3rem;
      font-weight: bold;
      font-family: 'Georgia ','Bebas Neue', sans-serif;
    }
    .hero-subtitle {
      font-size: 1rem;
      margin-top: 1rem;
      color: #f1f1f1;
      font-family: 'Bebas Neue', sans-serif;
    }
  .carousel-bg {
    margin: 12vh 10px ;
  
    background-color: black;
    border-radius: 10px;
    height: 80vh;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
  }
  .overlay {
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0); 
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .room-search {
   margin-top: 10vh;
    background-color: #00000054;
    max-width: 100%;
    align-items: center;
  }
  
  }
  

  
  .room-search {
    background-color: #fdf9f954;
    max-width: 100%;
    align-items: center;
  }
  