.hero-section {
    height: 450px;
    padding-top: 10%;
    background: linear-gradient(to right, #2c3e50, #4ca1af);
    text-align: center;
  }
  
  .hero-section h2 {
    font-size: 3rem;
    font-weight: bold;
  }
  
  .hero-link {
    color: #f39c12;
    text-decoration: none;
  }
  
  .hero-link:hover {
    text-decoration: underline;
  }
  .banner-section {
  
    background: url('/public/Images/slide1.jpg') no-repeat center center;
    background-size: cover;
    height: 30vh;
    position: relative;
    color: white;
    
  }
  
  .banner-title {
    font-size: 2.5rem;
    font-weight: 700;
  }
  
  .banner-button {
    padding: 10px 25px;
    font-weight: 500;
    border-radius: 0;
    letter-spacing: 1px;
  }  