.counter-section {
    background-color: #2e2e2e;
  }
  
  /* .counter-box {
    color: white;
    padding: 20px;
    display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  } */
  
  .counter-box .icon {
    font-size: 40px;
    color: white;
  }
  
  .counter-box h2 {
    font-weight: bold;
    font-size: 2.5rem;
  }
  
  .counter-box p {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    letter-spacing: 1px;
  }
  .counter-scroll {
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
  }
  
  .counter-box {
    background-color: rgba(255, 255, 255, 0.05); /* Optional styling */
    border-radius: 10px;
    padding: 20px;
    scroll-snap-align: start;
  }
  
  