.hero {
    position: relative;
  }
  
  .bookingbar {
    align-self: center;
    position: relative;
    margin-top: -2%;
    margin-left: 10%;
    width: 80%;
    position: relative;
   
  }
  @media (max-width: 575px) {
    .bookingbar {
      margin-top: -40%; 
    }
  }