@import url('https://fonts.cdnfonts.com/css/tree-ghost');

.hero {
    position: relative;
  }
  
  .bookingbar {
    align-self: center;
    position: relative;
    margin-top: -2%;
    margin-left: 10%;
    width: 80%;
    position: relative;
   
  }
  .banner-section {
  
    background: url('https://i.postimg.cc/9QdVHnhR/Untitled-design-29.png') no-repeat center center;
    background-size: cover;
    height: 30vh;
    position: relative;
    color: rgb(255, 255, 255);
    
  }
    .overlay {
    background-color: rgba(0, 0, 0, 0.308); /* dark overlay */
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .banner-title {
    font-family: 'Tree Ghost', sans-serif;                                            
    font-size: 3rem;
    font-weight: 700;
  }
  
  .banner-button {
    padding: 10px 25px;
    font-weight: 500;
    border-radius: 10px;
    letter-spacing: 1px;
  }  
  @media (max-width: 575px) {
    .bookingbar {
      margin-top: -40%; 
    }
  }