.header-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1050; /* higher than the hero section */
}
.fade-in {
  opacity: 0;
  animation: fadeIn 0.5s ease-in forwards;
}

    @import url('https://fonts.cdnfonts.com/css/lumanosimo');
@import url('https://fonts.cdnfonts.com/css/maria-2');
                
.places{
 font-family: 'Lumanosimo', sans-serif;
                                                
                                                
}
.phonee{
  font-family: 'Maria', sans-serif;
                                                
}
@keyframes fadeIn {
  to {
    opacity: 1;
  }
}
/* Default navbar when at top */
.navbar-top {
  background-color: rgba(0, 0, 0, 0); /* transparent */
  color: rgb(255, 255, 255);
  border-bottom: 1px solid transparent;
  transition: background-color 1s ease, box-shadow 0.3s ease;
   /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05); */
}
.navbar-open {
  background-color: #ffffff !important;
  color: #000;
  transition: background-color 0.3s ease;
  border-bottom: 1px solid transparent;
}
.navbar-scrolled {
  color: #000;
  background-color: #ffffff !important; /* solid white after scroll */
  border-bottom: 1px solid #eee;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}
/* When the menu is expanded (mobile view), make background white */
.navbar-collapse.show {
  background-color: #fff;
  width: 100%;
  padding: 1rem;
  border-radius: 10px 10px 10px 10px;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}


/* Optional: ensure nav links are dark on white background */
.navbar-collapse.show .nav-link {
  color: #000000 !important;
}


.navbar-top .nav-link {
  color: #ffffff !important; /* gold */
}

.navbar-scrolled .nav-link {
  color: #000 !important; /* black */
}



/* .top-bar {
  font-size: 0.85rem;
  background-color: #ffffff00;
  color: #333;
  position: relative;
} */

.text-gold {
  color: #b48a53 !important;
}
@import url('https://fonts.cdnfonts.com/css/holly-bale?styles=169413');
.nav-link-custom {
  position: relative;
  color: #ffffff;
  font-family: 'Holly Bale', sans-serif;
  font-size: 2rem;
                                                
                                                
}
.nav-link-custom :hover {
  color: #b48a53;
}

.nav-link-custom.active::after {
  content: '';
  width: 6px;
  height: 6px;
  background: #b48a53;
  border-radius: 50%;
  position: absolute;
  bottom: -5px;
  left: 50%;
  transform: translateX(-50%);
}
.topile-bar {
  background: #ffffff;
  display: flex;
  text-align: center;
  justify-content: space-between;
  padding: 8px 20px;
  font-size: 14px;
  position: sticky;
  top: 0;
  z-index: 999;
}

@media (max-width: 768px) {
  .topile-bar {
    flex-direction: column;
    align-items: center;
    padding: 15px;
    font-size: 12px;
    text-align: center;
    gap: 5px;
    
  }
}

